<html>
  <head>
    <title>Epics</title>
    <meta name="decorator" content="atl.general">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    $webResourceManager.requireResource("com.cobalt.jira.plugin.epic.EpicPlugin:EpicPlugin-resources")
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link  href="https://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
    <script type="text/javascript">
		var myApp = angular.module('myApp', ['ngAnimate', 'ngCookies']).directive('selectonclick', directives.selectOnClick).directive('modal', directives.modal);
    </script>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="ProjectController" ng-click="hideEpicInfo()" class="body-container unselectable">
    	<div id="nav-bar">
    		<ul>
    			<li>
    				<div ng-click="toggleFullScreen()">
						<i class="fa fa-expand fa-2x" ng-class="{'fa-compress': isFullScreen}"></i>
					</div>
    			</li>
    		</ul>
    		<ul>
    			<li>
    				<div ng-click="showInfoWindow=true">
						<i class="fa fa-info fa-2x"></i>
					</div>
    			</li>
    		</ul>
    		<ul id="search-tab">
    			<li>
    				<div id="search-slideout" ng-click="cookieState()">
    					<input type="text" ng-model="embeddedUrl" autocomplete="off" wrap="off" readonly selectonclick/>
    					<i class="fa fa-link fa-2x"></i>
    				</div>
    			</li>
    		</ul>
    		<ul id="search-tab">
    			<li>
    				<div id="search-slideout">
    					<input type="text" ng-model="query" autocomplete="off" placeholder="Find Projects..." wrap="off"/>
    					<i class="fa fa-search fa-2x"></i>
    					<div id="search-dropdown" style="background-color: #ebf2f9;">
    						<div style="text-align: center; padding-top: 5px;">
    							<button id="Clear button" ng-click="clearchkbox()">Clear</button>
				    			<button id="Checkall button" ng-click="checkchkbox()">Check All</button>
				    		</div>
				    		<div class="aui-list-scroll" style="display: block; width: 180px;">
				    			<ul class="list-section">
				    				<li ng-repeat="project in (filteredProjects = (alphabeticalProjects() | filter:search))" class="check-list-item repeat-item">
				    					<label class="item-label" title="{{project.name}}">
				    						<span id="mycheckboxState" style="display:none;" hidden>{{project.included}}</span>
				    						<input id="mycheckbox" type="checkbox" ng-click="checkProject(project)" ng-init="project.included=project.state" ng-model='project.included'/>
				    						{{project.name}}
				    					</label>
				    				</li>
				    			</ul>
				    		</div>
			    		</div>
    				</div>
    			</li>
    		</ul>
    	</div>

    	<!-- scroll-to-top button --> 
		<a href="" id="scroll-to-top"><i class="fa fa-angle-up fa-2x"></i></a>

    	<div id="top-bar" ng-show="isFullScreen"></div>
	    <ul id="projects" class="list-section">
	      <li class=table-header ng-class="{'fixed-header': isFullScreen}">
	        <ul class="inline">
	          <li class="project-column">
	          	<span>Projects</span>
	          </li>
	          <li class="contributor-column">Contributors</li>
	          <li class="completed-story-column">Stories Completed</li>
	          <li class="last-update-column">Last Update 
	          	<select ng-show="!isFullScreen" ng-model='filterDays' ng-change='loading=true; hideEpicInfo(); getProjects(filterDays * 24 * 60 * 60)'>
  					<option value="1">1 day</option>
 				 	<option value="2">2 days</option>
  					<option value="7">7 days</option>
  					<option value="14">14 days</option>
				</select>
	          </li>
	        <li class="epic-column">Epics</li>
	      </ul>
	      </li>
	      	<li class="loading-bar" ng-show="loading">
	      		<i class="fa fa-circle-o-notch fa-spin fa-4x"></i>
	      	</li>
	      	<li class="table-body" ng-hide="loading" ng-class="{'fixed-body': isFullScreen}">
		      <div class="project-row table-row" ng-repeat="project in timeOrderedProjects() | filter: {included:true}">
		      	<ul class="inline">
		      		<li class="project-column">	
		      			<img class="project-icon" src="{{project.icon}}" height="40" width="40">	      					      			
		      			<div class="project-info">
			      			<span class="project-group">{{project.group}}</span>
			      			<span>
			      				<a class="project-name" ng-click="setActivePage(project)">{{project.name}}</a>
			      			</span>   					     						      			
			      		</div>
		      		</li>
		      		<li class="contributor-column">
		      			<ul class="list inline">
		      				<li class="contributor" ng-repeat="contributor in getContributors(project)">
		      					<img class="contributor-image" src="{{contributor.avatar}}" title="{{contributor.name}}" ng-click="setActiveUser(contributor.id)" height="32" width="32">
		      				</li>
		      				<li class="extra-contributors" ng-show="extraContributorCount(project) > 1"><span>+{{extraContributorCount(project)}}</span></li>
		      			</ul>
		      		</li>
		      		<li class="completed-story-column">{{getCompletedStories(project)}}</li>
		      		<li class="last-update-column">{{millisecondToString(project.timestamp, false)}} ago</li>
		      		<li class="epic-column">
		      			<ul class="list inline" ng-controller="EpicController">
		      				<li class="epic-container" ng-repeat="epic in project.epics" ng-init="setUniqueId(epic)" ng-class="{'clicked-epic': isClicked(epic.id)}" ng-click="toggleEpic($event, epic.id)">
		      					<div class="post-it" ng-repeat="padding in getPostItOffsets(shorten(epic.name))" ng-style="{'left': '{{padding}}px', 'background': '{{getEpicColor(epic)}}'}" ng-class="getEpicColor(epic)"></div>
		      					<div class="post-it" ng-repeat="padding in getPostItOffsets(shorten(epic.name))" ng-style="{'right': '{{padding}}px', 'background': '{{getEpicColor(epic)}}'}" ng-class="getEpicColor(epic)"></div>
		      					<span class="epic" ng-style="{'background-color': '{{getEpicColor(epic)}}'}" ng-class="getEpicColor(epic)">
		      						{{shorten(epic.name)}}
		      					</span>
		      				</li>
		      			</ul>
		      		</li>
		      	</ul>
		      	<div class="epic-info" ng-controller="EpicController" ng-show="showEpicWindow(project)" ng-click="$event.stopPropagation()">
		      		<ul class="in-progress-stories list-section inline">
		      			<li class="story" ng-repeat="story in getEpicStories(project, false)">
		      				<div ng-style="{'background': '{{getClickedEpicColor(project)}}'}" ng-class="getClickedEpicColor(project)">
			      				<ul ng-style="{'border-bottom-color': '{{getFontColor()}}'}" class="story-header list-section">
			      					<li class="contributor-holder"><img class="contributor-image" ng-show="story.contributor" src="{{story.contributor.avatar}}" 
			      							 title="{{story.contributor.name}}" height="24" width="24"></li>
			      					<li>{{millisecondToString(story.timestamp, true)}}</li>
			      					<li><i class="fa fa-info-circle info-button" ng-click="setActivePage(story)"></i></li>			      							
			      				</ul>
			      				<span class="checkmark" ng-show="story.completed">&#x2713;</span>
			      				<p>{{story.name}}</p>
			      			</div>
		      			</li>
		      		</ul>
		      		<ul class="in-progress-stories list-section inline">
		      			<li class="story" ng-repeat="story in getEpicStories(project, true)">
		      				<div ng-style="{'background': '{{getClickedEpicColor(project)}}'}" ng-class="getClickedEpicColor(project)">
			      				<ul ng-style="{'border-bottom-color': '{{getFontColor()}}'}" class="story-header list-section">
			      					<li class="contributor-holder"><img class="contributor-image" ng-show="story.contributor" src="{{story.contributor.avatar}}" 
			      							 title="{{story.contributor.name}}" height="24" width="24"></li>
			      					<li>{{millisecondToString(story.timestamp, true)}}</li>
			      					<li><i class="fa fa-info-circle info-button" ng-click="setActivePage(story)"></i></li>			      							
			      				</ul>
			      				<span class="checkmark" ng-show="story.completed">&#x2713;</span>
			      				<p>{{story.name}}</p>
			      			</div>
		      			</li>
		      		</ul>		      	
		      	</div>
		      </div>
		 	</li>
    	</ul>
    	<modal ng-show="getShowWindow()" ng-click="setShowWindow(false)">
			<iframe src="{{url}}"></iframe>
  		</modal>
  		<modal ng-show="showInfoWindow" ng-click="showInfoWindow=false">
			<div class="info-window" ng-click="$event.stopPropagation()">
				<h1>Epic Work View for JIRA</h1>
				<h2>Overview</h2>
				<p>Epic Work View displays information about the work in progress on projects, epics and stories. </p>
				<h2>Live Updates</h2>
				<p>Live updates occur when work is started or completed on any issue. All fields in the table
				are sorted in order of last update time and will update along with any change in progress. </p>
				<h2>Fullscreen Mode</h2>
				<p>Epic Work View comes with a fullscreen mode for display on wallboards. The plugin is highly interactive
				and while in fullscreen mode, will open all windows within the display instead of navigating away from the page. </p>
				<h2>Project Filtering</h2>
				<p>Projects can be filtered by name or project group. Project filters are remembered across sessions on a 
				user's computer. To share a link with a given filter, copy the text from the link button in the navigation bar. </p>
			</div>
  		</modal>
    </div>
  </body>
</html>
