<html>
<head>
	<title>Epic Details</title>

	<meta name="decorator" content="atl.popup">
	<!--script tags-->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

	<!--style tags-->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

	$webResourceManager.requireResource("com.cobalt.jira.plugin.epic.EpicPlugin:EpicDetails-resources")

	<script type="text/javascript">
		var epicDetails = angular.module('EpicDetails', ['ui.bootstrap']);
		epicDetails.config(function($locationProvider) {
			$locationProvider.html5Mode(true);
		});
		epicDetails.controller('EpicDetailsController', ['$scope', '$http', '$q', '$location', epicDetailsController]);
		epicDetails.directive('chart', chartDirective);
	</script>
</head>
<body>
	<div ng-app="EpicDetails" ng-controller="EpicDetailsController" class="body-container">
		<div class="btn-group">
			<label class="btn btn-primary" ng-model="workType" btn-radio="1">Stories</label>
			<label class="btn btn-primary" ng-model="workType" btn-radio="2">Story Points</label>
			<label class="btn btn-primary" ng-model="workType" btn-radio="3">Work Hours</label>
		</div>

		<h1>{{epicName}}</h1>

		<div class="story-list">
			<ul>
				<li ng-repeat="story in stories">
					{{story.fields.summary}}
				</li>
			</ul>
		</div>

		<div>
			<progress>
				<bar value="notStarted * 100 / (notStarted + inProgress + done)" type="info" ng-hide="notStarted <= 0"><span>{{notStarted}}</span></bar>
				<bar value="inProgress * 100 / (notStarted + inProgress + done)" type="warning" ng-hide="inProgress <= 0"><span>{{inProgress}}</span></bar>
				<bar value="done * 100 / (notStarted + inProgress + done)" type="success" ng-hide="done <= 0"><span>{{done}}</span></bar>
			</progress>
			<div class="progress-bar-key">
				<div class="key-element"><progressBar value="100" type="info"></progressBar><span>Not Started</span></div>
				<div class="key-element"><progressBar value="100" type="warning"></progressBar><span>In Progress</span></div>
				<div class="key-element"><progressBar value="100" type="success"></progressBar><span>Done</span></div>
			</div>
		</div>

		<div class="clear" style="display: block; width: 450px; height: 250px">
			<chart ng-model="points"></chart>
		</div>

		


	</div>
</body>
</html>
