<html>
  <head>
    <title>Epics</title>
    <meta name="decorator" content="atl.general">
    $webResourceManager.requireResource("com.cobalt.jira.plugin.epic.EpicPlugin:EpicPlugin-resources")
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link  href="https://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div ng-app="WorkView" ng-controller="workViewController" ng-click="hideEpicInfo()" class="body-container unselectable">
    	<div id="nav-bar" ng-controller="navBarController">
    		<ul ng-click="$event.stopPropagation()">
    			<li>
    				<div ng-click="toggleFullscreen()">
						<i class="fa fa-expand fa-2x" ng-class="{'fa-compress': isFullscreen}"></i>
					</div>
    			</li>
    		</ul>
    		<ul ng-click="$event.stopPropagation()">
    			<li>
    				<div ng-click="open()">
						<i class="fa fa-info fa-2x"></i>
					</div>
    			</li>
    		</ul>
    		<ul ng-click="$event.stopPropagation()">
    			<li>
    				<div class="btn-group dropdown-toggle" dropdown>
    					<i class="fa fa-clock-o fa-2x"></i>
    					<ul class="dropdown-menu" role="menu">
				        	<li><a ng-class="{'menu-item-selected': filterDays===1}" ng-click="changeFilterDays(1)">1 day</a></li>
				        	<li><a ng-class="{'menu-item-selected': filterDays===2}" ng-click="changeFilterDays(2)">2 days</a></li>
				        	<li><a ng-class="{'menu-item-selected': filterDays===7}" ng-click="changeFilterDays(7)">7 days</a></li>
				        	<li><a ng-class="{'menu-item-selected': filterDays===14}" ng-click="changeFilterDays(14)">14 days</a></li>
				      	</ul>
    				</div>
    			</li>
    		</ul>
    		<ul id="search-tab">
    			<li>
    				<div id="search-slideout">
    					<input type="text" ng-model="query" autocomplete="off" ng-change="initialClear()" placeholder="Find Projects..." wrap="off"/>
    					<i class="fa fa-search fa-2x"></i>
    					<div id="search-dropdown" style="background-color: #ebf2f9;">
    						<div style="text-align: center; padding-top: 5px;">
    							<button id="Clear button" ng-click="clearCheckboxes()">Clear</button>
				    			<button id="Checkall button" ng-click="checkCheckboxes()">Check All</button>
				    		</div>
				    		<div class="aui-list-scroll" style="display: block; width: 180px;">
				    			<ul class="list-section">
				    				<li ng-repeat="project in (filteredProjects = (projects | filter:search))" class="check-list-item repeat-item">
				    					<label class="item-label" title="{{project.name}}">
				    						<input id="mycheckbox" type="checkbox" ng-change="checkProject(project)" ng-model='project.included'/>
				    						{{project.name}}
				    					</label>
				    				</li>
				    			</ul>
				    		</div>
			    		</div>
    				</div>
    			</li>
    		</ul>
    	</div>

    	<!-- scroll-to-top button --> 
		<a href="" id="scroll-to-top"><i class="fa fa-angle-up fa-2x"></i></a>

		<div class="loading-bar" ng-show="loading">
	      	<i class="fa fa-circle-o-notch fa-spin fa-4x"></i>
	   	</div>
		
	    <ul id="projects" class="list-section project-list" ng-show="!loading">
			<li class="project-row" ng-controller="headerController">
				<div class="project-header-bar" ng-mouseover="showHeaderOpener=true" ng-mouseleave="showHeaderOpener=false">
					<div class="project-header-opener" ng-show="!showHeader && showHeaderOpener" ng-click="showHeader=true">
						<i class="fa fa-caret-down"></i>
					</div>
				</div>
				<div class="project-content project-header" ng-show="showHeader">
					<button type="button" class="close top-right" ng-click="showHeader=false">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<div><span class="bold">{{projectCount()}}</span>
						<ng-pluralize count="projectCount()"
									when="{'one': ' project',
										   'other': ' projects'}">
						</ng-pluralize>
					</div>
					<div><span class="bold">{{countStories(true)}}</span> 
						<ng-pluralize count="countStories(true)"
									when="{'one': ' story completed',
										   'other': ' stories completed'}">
						</ng-pluralize>
					</div>
					<div><span class="bold">{{countStories(false)}}</span>
						<ng-pluralize count="countStories(false)"
									when="{'one': ' story in flight',
										   'other': ' stories in flight'}">
						</ng-pluralize> 
					</div>
					<div><span class="bold">{{contributors()}}</span>
						<ng-pluralize count="contributors()"
									when="{'one': ' contributor',
										   'other': ' contributors'}">
						</ng-pluralize> 
					</div>
				</div>
			</li>
	      	<li class="project-row" ng-repeat="project in projects" id="{{project.id}}" ng-show="project.included" ng-controller="projectController">
		   		<div class="project-content">
		   			<div class="column1">
			   			<div class="project-icon-container">
				    		<img class="project-icon" ng-src="{{project.icon}}" height="48" width="48">
				      	</div>
				      	<div class="project-info-container">
					      	<span class="project-group">{{project.group}}</span>
					     	<span>
					      		<a class="project-name" ng-click="setActivePage(project)">{{project.name}}</a>
					      	</span>   					     						      			
					    </div>
					    <div class="last-update-container">
				      		<div class="content">
				      			<span>updated {{millisecondToString(project.timestamp, false)[0]}} {{millisecondToString(project.timestamp, false)[1]}} ago</span>
				      		</div>
				      	</div>
					</div>
				    <div class="column2">
				      	<div class="completed-story-container">
				      		<span class="header">STORIES COMPLETED</span>
				      		<div class="content">
				      			<span class="bold">{{getCompletedStories(project)}}</span>
				      			<span>in last {{getFilterDays()}} {{pluralize(getFilterDays(), "day")[1]}}</span>
				      		</div>
				      	</div>
				   	</div>
				   	<div class="column3">
				     	<div class="contributor-container">
				      		<ul class="list inline">
				      			<li class="contributor" ng-repeat="contributor in getContributors(project)">
				      				<img class="contributor-image" ng-src="{{contributor.avatar}}" tooltip="{{contributor.name}}" ng-click="setActiveUser(contributor.id)" height="36" width="36">
				      			</li>
				      			<li class="extra-contributors" ng-show="extraContributorCount(project) > 1"><span>+{{extraContributorCount(project)}}</span></li>
				      		</ul>
				      	</div>
				      	<div class="epic-list-container">
				      		<ul class="list inline">
				      			<li class="epic-holder" ng-repeat="epic in project.children" >
				      				<div class="epic-info-button" ng-show="isClicked(epic) && !animating" ng-click="$event.stopPropagation(); setActiveEpic(epic, project)">
					      				<i class="fa fa-info fa-2x"></i>
					      			</div>
				      				<div class="epic-container" ng-class="{'clicked-epic': isClicked(epic)}" ng-click="toggleEpic($event, epic)">
					      				<div class="post-it" ng-repeat="padding in getPostItOffsets(shorten(epic.name))" ng-style="{'left': '{{padding}}px', 'background': '{{translateColor(epic.color)}}'}" ng-class="translateColor(epic.color)"></div>
					      				<div class="post-it" ng-repeat="padding in getPostItOffsets(shorten(epic.name))" ng-style="{'right': '{{padding}}px', 'background': '{{translateColor(epic.color)}}'}" ng-class="translateColor(epic.color)"></div>
					      				<span class="epic" ng-style="{'background-color': '{{translateColor(epic.color)}}'}" ng-class="translateColor(epic.color)">
					      					{{shorten(epic.name)}}
					      				</span>
				      				</div>
				      			</li>	
				      		</ul>
				      	</div>
				   	</div>
			      	<div class="epic-info" ng-show="showEpicInfo(project)" ng-click="$event.stopPropagation()">
			      		<ul class="story-list list-section inline" ng-repeat="completed in [false, true]">
			      			<li class="story" ng-class="{'animate-story': storyIsAnimated(story.id)}" ng-repeat="story in getStories(completed)">
			      				<div ng-style="{'background': '{{translateColor(clickedEpic.color)}}'}" ng-class="translateColor(clickedEpic.color)">
				      				<ul ng-style="{'border-bottom-color': '{{getFontColor()}}'}" class="story-header list-section">
				      					<li class="contributor-holder"><img class="contributor-image" ng-show="story.contributor" ng-src="{{story.contributor.avatar}}" 
				      							 title="{{story.contributor.name}}" height="24" width="24"></li>
				      					<li>{{millisecondToString(story.timestamp, true)[0]}}{{millisecondToString(story.timestamp, true)[1]}}</li>
				      					<li><i class="fa fa-info-circle info-button" ng-click="setActivePage(story)"></i></li>			      							
				      				</ul>
				      				<span class="checkmark" ng-show="story.completed">&#x2713;</span>
				      				<p>{{story.name}}</p>
				      			</div>
			      			</li>
			      		</ul>		      	
			      	</div>
		      	</div>
		 	</li>
    	</ul>
		<script type="text/ng-template" id="info.html">
			<div class="info-window">
				<h1>Epic Work View for JIRA</h1>
				<h2>Overview</h2>
				<p>Epic Work View displays information about the work in progress on projects, epics and stories. </p>
				<h2>Live Updates</h2>
				<p>Live updates occur when work is started or completed on any issue. All fields in the table
				are sorted in order of last update time and will update along with any change in progress. </p>
				<h2>Fullscreen Mode</h2>
				<p>Epic Work View comes with a fullscreen mode for display on wallboards. The plugin is highly interactive
				and while in fullscreen mode, will open all windows within the display instead of navigating away from the page. </p>
				<h2>Project Filtering</h2>
				<p>Projects can be filtered by name or project group. Project filters are remembered across sessions on a 
				user's computer. To share a specific filter with another computer, simply copy the url. </p>
				<h2>Epic Details Page</h2>
				<p>To view more details about an epic, click on the information button that appears on top of the epic you are
				currently viewing. The epic details page displays displays a list of stories, a progress bar for the epic, and
				a chart showing story creation and completion with a forecasted completion date for the epic. </p>
				<h2>Source Code</h2>
				<p>Epic Work View is open source. All source code is available on 
					<a href="https://github.com/cobaltdev/epicworkview">GitHub</a>
				under the 
					<a href="https://github.com/cobaltdev/epicworkview/blob/master/LICENSE">BSD ISC licence</a>. 
				</p>
				<h2>Feedback</h2>
				<p>We appreciate any feedback. Bugs, feature requests, or other issues can be filed
					<a href="https://github.com/cobaltdev/epicworkview/issues">here</a>. 
				If you would like to leave a review, please see our listing in the 
					<a href="https://marketplace.atlassian.com/plugins/com.cobalt.jira.plugin.epic.EpicPlugin">Atlassian Marketplace</a>. 
				</p>
			</div>
		</script>
    </div>
  </body>
</html>
