<html>
<head>
	<title>Epic Details</title>

	<meta name="decorator" content="atl.popup">
	<!--script tags-->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.min.js"></script>

	<!--style tags-->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

	$webResourceManager.requireResource("com.cobalt.jira.plugin.epic.EpicPlugin:EpicDetails-resources")

	<script type="text/javascript">
		var epicDetails = angular.module('EpicDetails', ['ui.bootstrap']);
		epicDetails.config(function($locationProvider) {
			$locationProvider.html5Mode(true);
		});
		epicDetails.controller('EpicDetailsController', ['$scope', '$http', '$q', '$location', '$window', epicDetailsController]);
		epicDetails.directive('chart', chartDirective);
	</script>
</head>
<body>
	<div ng-app="EpicDetails" ng-controller="EpicDetailsController" class="body-container">
	
		<h1 class="title">{{epicName}}</h1>
	
		<div class="btn-group work-selector">
			<label class="btn btn-primary" ng-model="workType" btn-radio="1">Stories</label>
			<label class="btn btn-primary" ng-model="workType" btn-radio="2">Story Points</label>
			<label class="btn btn-primary" ng-model="workType" btn-radio="3">Work Hours</label>
		</div>

		<div class="btn-group epic-dropdown" dropdown>
			<button type="button" class="btn btn-warning dropdown-toggle">
				{{projectName}} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right epic-dropdown-menu" role="menu">
				<li ng-hide="epics.length==0" ng-repeat="epic in epics" ng-click="redirect(epic.location)"><a href="#">{{epic.name}}</a></li>
			</ul>
		</div>
		
		<div class="column1">
			<div class="progress-bar-container">
				<progress>
					<bar value="round(notStarted * 100 / (notStarted + inProgress + done))" type="info" ng-hide="notStarted <= 0"><span>{{format(notStarted)}}</span></bar>
					<bar value="round(inProgress * 100 / (notStarted + inProgress + done))" type="warning" ng-hide="inProgress <= 0"><span>{{format(inProgress)}}</span></bar>
					<bar value="round(done * 100 / (notStarted + inProgress + done))" type="success" ng-hide="done <= 0"><span>{{format(done)}}</span></bar>
				</progress>
				<div class="progress-bar-key">
					<div class="key-element"><progressBar value="100" type="info"></progressBar><span>Not Started</span></div>
					<div class="key-element"><progressBar value="100" type="warning"></progressBar><span>In Progress</span></div>
					<div class="key-element"><progressBar value="100" type="success"></progressBar><span>Done</span></div>
				</div>
			</div>
	
			<div class="charts-container">
				<chart ng-model="points"></chart>
			</div>
		</div>
		
		<div class="column2">
			<div class="stories-completed">
				{{workTypeToString()}} completed within the last 7 days: {{format(numofStories)}}
			</div>
			<div class="story-list">
				<ul>
					<li class="story-row" ng-repeat="story in stories">
						<div class="comment-img">
							<img tooltip="{{story.fields.assignee.displayName}}" tooltip-placement="right" ng-src="{{story.fields.assignee.avatarUrls.48x48}}" ng-class="{'no-img': story.fields.assignee === null}" height="48" width="48">
						</div>
						<div class ="story-comment">
							<p>{{story.fields.summary}}</p>
							<span class="story-contributor">{{story.fields.assignee.displayName}}</span>
							<span>{{formatResolutionDate(story.fields.resolutiondate)}}</span>
							<span ng-hide="workType == 1">{{workTypeToString()}}: {{workType == 3 ? getValue(story, workType).toFixed(2) : getValue(story, workType)}}</span>
						</div>
					</li>
				</ul>
			</div>
		</div>	

	</div>
</body>
</html>
